@page "/contacts"

<h3>Contacts</h3>
<div>
    <span class="oi oi-magnifying-glass"></span>
    <input type="text" id="myInput" class="search" @bind="@SearchQuery" @bind:event="oninput" placeholder="Search for contacts..">
</div>


<table id="myTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in contacts)
        {
            <tr>
                <td>@contact.Name</td>
                <td>@contact.Country</td>
            </tr>
        }
    </tbody>
</table>

@code {

    public class Contact
    {
        public string Name { get; set; }
        public string Country { get; set; }
    }

    public class ContactService
    {
        public List<Contact> contacts;

        public ContactService()
        {
            contacts = new List<Contact>()
{
            new Contact
            {
                Name = "Alfreds Futterkiste",
                Country = "Germany",
            },
            new Contact
            {
                Name = "Berglunds snabbkop",
                Country = "Sweden",
            },
            new Contact
            {
                Name = "Island Trading",
                Country = "UK",
            },
            new Contact
            {
                Name = "Koniglich Essen",
                Country = "Germany",
            }
        };
        }

    }

    bool isSearching;

    bool IsSearching => !(currentSearchCts == null);

    CancellationTokenSource currentSearchCts;

    public ContactService contactService { get; set; }

    private string _searchQuery;

    public string SearchQuery
    {
        get => _searchQuery; set
        {
            _searchQuery = value;

            _ = SearchAsync(_searchQuery);

        }
    }

    private List<Contact> contacts;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
        {
            contactService = new ContactService();
            GetContacts();
        });
    }

    public void GetContacts()
    {
        Console.WriteLine("GetContacts is Called");
        contacts = contactService.contacts;
    }

    public async Task SearchAsync(string input)
    {
        try
        {
            currentSearchCts?.Cancel();

            currentSearchCts = new CancellationTokenSource();

            var searchToken = currentSearchCts.Token;

            await Task.Factory.StartNew(async(st)=>{

                await Task.Delay(500);

                var ct = (CancellationToken)st;

                ct.ThrowIfCancellationRequested();

                Console.WriteLine($"Search is Called with {input}");

                if (string.IsNullOrWhiteSpace(input))
                {
                    GetContacts();
                }
                else
                {
                    contacts = contactService.contacts.Where(c => c.Name.StartsWith(input)).ToList();
                }

                currentSearchCts = null;

            },searchToken).Unwrap();

            StateHasChanged();
        }
        catch (OperationCanceledException ex)
        {
            Console.WriteLine($"Search is Cancelled {input}");
        }


    }
}
