@page "/game"
<h3>Game</h3>
<td><button @onclick="@(() => ChangeCard())"><i class="oi oi-pencil"></i></button></td>


<svg height="1000" width="1000">
    @foreach (var gc in GameComponents)
    {
        <SvgComponent GameComponent="@gc" />
    }
</svg>


@code {

    public string CardId { get; set; }

    public List<GameComponent> GameComponents { get; set; }

    protected override async Task OnInitializedAsync()
    {
        GameComponents = new List<GameComponent>();

        await Task.Run(() =>
        {
            CardId = $"svg/svg-cards.svg#3_club";

            GameComponents.AddRange(new List<GameComponent>()
            {
                new Rectangle()
                {
                    Id = Guid.NewGuid(),
                    Height = 200,
                    Width = 100,
                    X=500,
                    Y=350,
                    Fill="green"
                },
                new Rectangle()
                {
                    Id = Guid.NewGuid(),
                    Height = 200,
                    Width = 100,
                    X=350,
                    Y=110,
                    Fill="red"
                },
                new Circle()
                {
                    Id = Guid.NewGuid(),
                    R = 200,
                    Cx=125,
                    Cy=125,
                    Fill="yellow"
                },
                new Circle()
                {
                    Id = Guid.NewGuid(),
                    R = 50,
                    Cx=145,
                    Cy=145,
                    Fill="blue"
                },
            });

        //StateHasChanged();
        });
    }

    public void ChangeCard()
    {
        CardId = $"svg/svg-cards.svg#queen_heart";
        StateHasChanged();
    }

}
